
body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-image: url(book\ gif\ gif.gif);
    background-repeat: no-repeat;
    background-size:100% 180%;
}

h1{
    color: #fff;

}
h2 {
    color: #fff;
}

p {
    color: #666;
}

.review-section {
    margin-top: 20px;
}

.hidden {
    display: none;
}
.kep{
    height: 250px;
    width: 200px;
    margin-right: 60px;
    margin-left: 60px;
    border: 5px solid #9e9d9d;

}
.book{
    text-align: left;
}
@keyframes pulse {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.7;
    }
    100% {
        opacity: 1;
    }
}
 
nav {
    background: linear-gradient(135deg, #faea0f, #1001d8); /* Lila gradient háttér */
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    width: 100%;
    animation: pulse 2s infinite;
}
 
nav a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}
 
nav a:hover {
    color: #FFD700; /* Arany szín az egér fölé mozgatáskor */
}

.books-container {
    display: inline-flex;
}

.book {
    margin: 10px;
    padding: 20px;
    background: rgba(255, 255, 255, 0.8);
}
.kep {
    margin-bottom: 10px; /* Például 10 pixel tér alul */
}